@use "./typography" as *;

:root {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);

  color-scheme: var(--color-scheme);
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;

  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hidden-scroll {
  overflow: hidden !important;
  touch-action: none;
}

i {
  @include caption-font;
}

h1 {
  @include heading-styles(32px, 150%, 0.18rem);
}

h2 {
  @include heading-styles(24px, 152%, 0.16rem);
}

h3 {
  @include heading-styles(16px, 152%, 0.08rem);
}

h4 {
  @include heading-styles(12px, 130%, 0.05rem);
}

p {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 148%;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}
