@use "../../base/typography" as *;

.cta {
  background-image: url("/bg-snow.png"), url("/bg-forest.png");
  background-size: 1440px auto;
  background-position: center, center;

  height: 668px;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  text-align: center;

  gap: 20px;

  color: #fff;
}

.cta__link {
  @include action-small-font;

  width: 235px;
  height: 56px;

  padding: 20px 32px;

  background-color: var(--dark-color);
  color: var(--static-white-color);

  border-radius: 20px;

  text-align: center;
  text-wrap: nowrap;
}

.cta__timer {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-around;
  align-items: center;

  width: 344px;

  border-radius: 20px;

  padding: 8px 12px 12px 12px;
  height: 72px;

  background-color: var(--static-white-40-color);
}

.cta__timer__block {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;

  width: 52px;
}
