@use "../base/typography" as *;

.gifts-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.gifts-page__main-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  padding: 60px 0;

  gap: 20px;

  background-image: url("/bg-garland.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.gifts-page__main-content header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.gifts-page__main-content header h1 {
  color: #fff;

  text-align: center;
}

.gifts__filter-panel {
  @include action-small-font;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #fff;
  list-style: none;

  gap: 8px;
}

.gifts__filter-panel__button-normal {
  @include action-small-font;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 20px;

  cursor: pointer;

  border-radius: 12px;
}

.gifts__filter-panel__button-active {
  @extend .gifts__filter-panel__button-normal;

  background-color: var(--static-white-20-color);
}

.gifts__filter-panel__button-normal:hover {
  background-color: var(--static-white-20-color);
}

.gifts__gifts-container {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 0;

  align-items: center;
  justify-content: center;
  gap: 12px;
}

.gifts__gifts-container>* {
  cursor: pointer;
}

@media (max-width: 1315px) {
  .gifts__gifts-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .gifts__gifts-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  .gifts__gifts-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
