.home-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 90rem;
  height: 100%;

  overflow-x: hidden;
}

.home-page__main-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  border-radius: 20px;

  background:
    url("/bg-snow.png") top center repeat,
    url("/bg-ball.png") 50% -60px no-repeat,
    var(--primary-color);

  background-size: 90rem auto;
}
