@use "../base/typography" as *;

.main-footer {
  background-color: #fff;

  width: 100%;

  gap: 60px;

  padding: 60px 50px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  text-align: center;

  container-name: contact-cards;
  container-type: inline-size;
}

.contact-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;

  gap: 12px;
}

.contact-card {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;

  width: 417px;
  height: 204px;

  padding: 20px;

  gap: 12px;

  border-radius: 20px;

  background-color: var(--content-background-color);

  cursor: pointer;

  transition: color 0.3s ease-in;

  &:hover {
    color: var(--primary-color);
  }
}

.contact-card__title {
  @include action-lagre-font;
}

.main-footer__footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.main-footer__social-media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;

  object {
    pointer-events: none;
  }
}

.icon-telegram {
  mask: url("/telegram.svg");
}

.icon-X {
  mask: url("/X.svg");
}

.icon-facebook {
  mask: url("/facebook.svg");
}

.icon-instagram {
  mask: url("/instagram.svg");
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: var(--dark-color);
  mask-size: cover;
}

.icon:hover,
.icon:focus {
  background: var(--primary-color);
}

@container contact-cards (width < 1200px) {
  .contact-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .contact-card {
    width: 100%;
  }
}
