:root {
  // Fonts
  --font-family: Montserrat, Arial, Helvetica, sans-serif;
  --cursive-font-family: Allura, "Brush Script MT", cursive;

  // Typography
  --font-weight-bold: 600;
  --font-weight-regular: 400;

  // Color Scheme
  --color-scheme: light dark;

  // Colors
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
}
